#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook.  Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The greatest notebook application.  Period."
    %p.name - Jason Palmer
#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p 90's meditation drinking vinegar, occupy Echo Park kitsch artisan raw denim McSweeney's Vice flexitarian lumbersexual. Four dollar toast polaroid raw denim organic mixtape, Shoreditch twee. Carles skateboard you probably haven't heard of them fap.
      .callout
        %i.fa.fa-rocket
        %h2 Rocket
        %p 90's meditation drinking vinegar, occupy Echo Park kitsch artisan raw denim McSweeney's Vice flexitarian lumbersexual. Four dollar toast polaroid raw denim organic mixtape, Shoreditch twee. Carles skateboard you probably haven't heard of them fap.
      .callout
        %i.fa.fa-bolt
        %h2 Lightning
        %p 90's meditation drinking vinegar, occupy Echo Park kitsch artisan raw denim McSweeney's Vice flexitarian lumbersexual. Four dollar toast polaroid raw denim organic mixtape, Shoreditch twee. Carles skateboard you probably haven't heard of them fap.

#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don't, I will find you!
    %button= link_to "Click Meee!!!", new_user_registration_path

%footer
  %p &copy; Mackenzie Child

